* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Urbanist", serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
img {
  width: 20rem;
  display: inline-block;
}
h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.container {
  width: 50rem;
  text-align: center;
  padding: 5rem;
  border: 1rem solid black;
  background-color: bisque;
}
.easyAt {
  cursor: pointer;
  font-weight: bold;
  margin: 1rem 0 1.2rem 0;
  padding: 1.2rem 0.1rem;
  font-size: 1.1rem;
  font-family: "Poppins", serif;
  color: white;
  background-color: blue;
  border: 0.1px solid black;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.hardAt {
  font-weight: bold;
  cursor: pointer;
  padding: 1.2rem 0.1rem;
  font-size: 1.1rem;
  font-family: "Poppins", serif;
  color: white;
  background-color: cadetblue;
  border: 0.1px solid black;
  border-radius: 0.8rem;
}
.difficulty {
  margin: 3rem 0 0.5rem 0;
}

.upperSection {
  text-align: center;
  & h2 {
    margin: 1rem 0 1.5rem 0;
    font-size: 3rem;
  }

  & .enterGuess {
    width: 14rem;
    font-size: 1.6rem;
    background-color: bisque;
    border: 0.001px solid #e0dad1;
    padding: 1rem;
  }
}
#gameArea {
  padding: 1rem;
  border: 1rem solid black;
  background-color: bisque;
  margin-left: 2rem;
  width: 40rem;
  height: 30rem;
}
.newGame {
  cursor: pointer;
  padding: 1.2rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  /*display: none;
  */
  background-color: blue;
  color: white;
}
.gameResult {
  margin: 3.5rem 0 0 0;
}
.stats p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.stats {
  margin: 0 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
#attempts,
#guesses {
  color: blue;
  font-weight: 700;
  font-size: 1.6rem;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
